#throbber {
	display: none;
	position: fixed;
	left: 50%;
	top: 32px;
	-webkit-transform: translate(-50%, -50%);
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 0px 0px 5px black;
	border-radius: 5px;
}
.navbar-inverse .nav li a {
	color: white;
}
.navbar-default {
	background-image: none;
	box-shadow:inset 0px 25px 0px rgba(255, 255, 255, .25), 
	inset 0px -12px 13px rgba(255, 255, 255, .60);
	background-color: rgba(255, 255, 255, .80);
}
.navbar-default .nav li.active {
	background-color: #0077ff;
}
p {
	text-align: justify;
	white-space: pre-wrap;
	text-shadow: 0px 1px 0px white;
}
section {
	display: none;
}
body {
	
	background-image: url('../img/cover.png');
	background-size: cover;
	background-color: #f0f0f0;
}
.box {
	background-color: rgba(255, 255, 255, .75);
	border-radius: 3px;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, .1);
}
.box-content {
	box-sizing: border-box;
	padding: 20px;
}
